@import "tailwindcss";

@theme {
  --color-sg-green: #16a34a;
  --color-sg-yellow: #ca8a04;
  --color-sg-orange: #ea580c;
  --color-sg-red: #dc2626;
  --color-sg-blue: #2563eb;
  --color-sg-gray: #6b7280;
}
